<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Data Perikanan Tangkap Golang</title>
  </head>
 
  <body>
    <div class="container mt-5">
        <h3>Data Perikanan Tangkap</h3>
        <a href="/fishes/add" class="btn btn-big btn-primary">Menambahkan Data Baru</a>
        <hr/>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nama Lengkap</th>
                    <th>NIK</th>
                    <th>Ukuran Kapal</th>
                    <th>Alat Tangkap</th>
                    <th>Jumlah Tangkapan</th>
                    <th>Alamat</th>
                    <th>No.Hp</th>
                    <th>Keterangan</th>
                </tr>
            </thead>
            <tbody>
                {{ range .fishes }}
                    <tr>
                        <td>{{ .NamaLengkap }} </td>
                        <td>{{ .NIK }} </td>
                        <td>{{ .UkuranKapal }} </td>
                        <td>{{ .AlatTangkap }} </td>
                        <td>{{ .JumlahTangkapan }} </td>
                        <td>{{ .Alamat }} </td>
                        <td>{{ .Nohp }} </td>
                        <td>
                            <a href="/fishes/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit Data</a>
                            <a href="/fishes/delete?id={{.Id}}" oneclick="return confirm('Anda ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus Data</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>


</body>
</html>